@font-face {
    font-family: "kajiro";
    src: url("/Kajiro\ Bold.woff2");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "Gilroy";
}
#main{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}

#back{
    width: 100%;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#top{pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}
#workingarea{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    /* background: #888; */
    /* border: 1px solid red; */
}

#nav{
    width: 100%;
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
}

#nav img{
    height: 60px;
}
#nleft, #nright{
    display: flex;
    align-items: center;
    gap: 60px;
}
#nav a{pointer-events: all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: white;
    font-family: "gilroy";
}

#hero{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
#heroleft{
    min-width: 50%;
}
#heroleft .elem{
    position: relative;
    height: 9vw;
    overflow: hidden;
}
#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    color: white;
    font-family: "kajiro";
    font-weight: 100;
    font-size: 11vw;
}
#heroleft .elem h1:nth-child(1){
    top: 0;
}
#heroleft button{
    pointer-events: all;
    padding: .8vw 3vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: "kajiro";
}
#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: white;
        /* background-color: green; */
}
#heroright p{
    /* margin-bottom: 50px; */
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}
#heroright #imagediv{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url("https://images.unsplash.com/photo-1695338027531-5470b436087c?auto=format&fit=crop&q=80&w=1964&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}
#heroright p:nth-child(3){
    margin-bottom: 30px;
}


/* responsive */
@media (max-width: 2560px){
    #workingarea{
        max-width: 1920px;
    }
}

@media (max-width: 1920px){
    #workingarea{
        max-width: 1800px;
    }
}

@media (max-width: 1600px){
    #workingarea{
        max-width: 1400px;
    }
}

@media (max-width: 1440px){
    #workingarea{
        max-width: 1200px;
    }
}

@media (max-width: 1024px){
    #workingarea{
        max-width: 900px;
    }
}





